<div class="header-top">
    <div class="themeflat-container">
        <div class="header-top-inner">
            <div class="address">
                <a href="mailto:" style="color: white;"><i class="icon-Vector"></i>rsansb2025@gmail.com</a>
                <address style="color: white;"><i class="icon-Vector-22"></i>DUBAI SCHOOLS Alkhawaneej 2</address>
            </div>
            <div class="social-icon">
                <a href="https://www.facebook.com/share/18nmFRpdNN/?mibextid=wwXIfr" target="_blank" ><i class="icon-facebook" style="color: white;"></i></a>
                <a href="https://www.instagram.com/r_s_a_n_s_b?igsh=eWQ4eHdqbDFreThx&utm_source=qr" target="_blank" ><i class="icon-instagram" style="color: white;"></i></a>
                <a href="youtube.com" ><i class="icon-youtube" style="color: white;"></i></a>
            </div>
        </div>
    </div>
</div>
<header id="header" class="header style1 clearfix">
    <div class="themeflat-container">
        <div class="header-inner">
            <div id="logo" class="logo">
                <a href="/" rel="home">
                    <img id="a2" src="https://res.cloudinary.com/dyv0lsr1o/image/upload/v1744172285/logo2_zrohpe.png" alt="image">
                </a>
            </div><!-- /.logo -->
            <div class="nav-wrap">
                <div class="btn-menu">
                    <span class="icon-menu"></span>
                </div><!-- //mobile menu button -->
                <nav id="mainnav" class="mainnav">
                    <div id="logo-mobie" class="logo">
                        <a href="/" rel="home">
                            <img src="https://res.cloudinary.com/dyv0lsr1o/image/upload/v1744172285/logo2_zrohpe.png" alt="image">
                        </a>
                    </div><!-- /.logo -->
                    <ul class="menu">
                        <li>
                            <a href="/">Home</a>
                          
                        </li>
                        <li><a href="/programm">Program & coaches</a></li>
                        <li><a href="/partner">Partners</a>
                          
                        </li>

                        <li><a href="/fee">Fee Structure</a>
                       
                        </li>
                        <li><a href="/Review">Review</a>
                      
                        </li>
                        <li><a href="/contactus">Contact us</a></li>
                    </ul><!-- /.menu -->
                  
                </nav><!-- /.mainnav -->
            </div><!-- /.nav-wrap -->
            <div class="header-right">
          
                <a href="/contactus" class="btn-contact">Contact Us</a>
                <!-- /.login/register -->
            </div><!-- /.login-wrap -->
        </div><!-- /.header-inner -->
    </div>

 
</header>

<!-- /.header -->
 